<form id="searchform" action="https://www.bing.com/search" method="get">
  <div class="input-group">
    <input type="text" name="searchkey" class="form-control">
	<input type="hidden" name="q" value="" />
	<input type="hidden" name="ie" value="UTF-8" />
	<input type="hidden" name="sitesearch" value="www.eltaera.com" />
    <span class="input-group-btn">
      <button class="btn btn-default" onclick="prepareForSubmit()">
        <span class="glyphicon glyphicon-search">
        </span>
      </button>
    </span>
  </div>
</form>

<script>
function prepareForSubmit()
{
	var site=document.getElementById("sitesearch").value;    
	var skey=document.getElementById("searchkey").value;    
	var searchStr = "site:" + site + " " + skey;

	document.getElementById("q").value = searchStr;

	document.getElementById("searchform").submit();    
}
</script>
