            <form>
              <div class="input-group">
                <input type="text" name="q" class="form-control" id="bdcsMain">
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="sitesearch" value="www.eltaera.com" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
            </form>


<script type="text/javascript">

(function(){
	document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
	var bdcs = document.createElement('script');
	bdcs.type = 'text/javascript';
	bdcs.async = true;
	bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=2350135611946759622' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(bdcs, s);
})();

</script>
